/* /components/Prop.css */

.Properties-Menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: auto;
    box-shadow: var(--Shadow);
    border: var(--Border);
    overflow-y: auto; 
    padding: 1rem;
    border-radius: 0.5rem;
}

.Properties-Items {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Properties-Item-List {
    flex-shrink: 0;
    border-bottom: 1px solid var(--sc);
}

.Properties-Item-List:hover {
    background-color: var(--ac);
}

.Properties-Item-List:active {
    background-color: var(--sc);
}

.Properties-Menu::-webkit-scrollbar {
    width: 8px; 
    background-color: transparent;
}

.Properties-Menu::-webkit-scrollbar-thumb {
    background-color: var(--sc); 
    border-radius: 10px;
    border: 2px solid var(--bg);
}

.Properties-Menu::-webkit-scrollbar-thumb:hover {
    background-color: var(--ac);
}

/* Firefox compatibility */
.Properties-Menu {
    scrollbar-color: var(--sc) var(--bg);
    scrollbar-width: thin;
}