/* App.css (This is just for the locations of the components) */
.App-Container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 7.5% 75% 20%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "slides toolbox properties"
    "slides viewport properties";
  padding: 3rem;
  margin-top: 2.5rem;
  justify-content: space-evenly;
}

.appToolbox {
  grid-area: toolbox;
}

.appSlides {
  grid-area: slides;
  width: 150%;
}

.appViewport {
  width: 110%;
  grid-area: viewport;
}

.appProperties {
  grid-area: properties;
  width: 85%;
}