/* App.css (This is just for the locations of the components) */
.App-Container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "toolbox toolbox toolbox"
    "slides viewport properties"
    "slides viewport properties";
  padding: 3rem;
  margin-top: 2.5rem;
  justify-content: space-evenly;
}

.appToolbox {
  grid-area: toolbox;
  z-index: 100000;
}

.appSlides {
  z-index: 10000;
  grid-area: slides;

}

.appViewport {
  z-index: 10000;
  grid-area: viewport;
}

.appProperties {
  z-index: 10000;
  grid-area: properties;
}